button {
    
}

#main-video-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#main-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pip-container {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 150px;
    height: 150px;
}

#pip-video {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid blue;
    cursor: move;
}

#controls {
    position: absolute;
    bottom: 20px;
    left: 20px;
}